aiofiles==0.8.0
aiosqlite==0.17.0
alembic==1.7.6
anyio==3.5.0
asgiref==3.5.0
asyncpg==0.25.0
click==8.0.4
Deprecated==1.2.13
ecdsa==0.17.0
fastapi==0.74.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.1.0
packaging==21.3
passlib==1.7.4
pyasn1==0.4.8
pydantic==1.9.0
pyparsing==3.0.7
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
redis==4.1.4
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
websockets==10.1
wrapt==1.13.3
