body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222528;
    color: #ffffff;
}

.content {
    padding: 0.5rem 2rem;
    border: 2px solid #cdcdcd;
    border-radius: 1rem;
}

.img-container {
    margin: 0.5rem;
    display: flex;
    justify-content: center
}

.img-link {
    height: 5rem;
    width: 5rem;
}

.img-link:focus {
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-header {
    text-align: center;
    margin: 0.8rem 0;
    font-size: 2.5rem;
}

.form-input {
    color: #ffffff;
    height: 1.5rem;
    border: none;
    border-bottom: solid 3px #9f9f9f;
    background-color: transparent;
    font-size: medium;
}

.form-input:focus {
    outline: none;
    border-bottom: solid 3px #ffffff;
}

.form-btn {
    border: none;
    height: 2rem;
    background-color: #007bff;
    color: #ffffff;
    transition: all 0.3s;
    font-size: large;
    border-radius: 0.3rem;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #135cb1;
}

.link-light {
    color: #ffffff;
    transition: all 0.3s;
}

.link-light:hover {
    color: #d8d8d8;
}