body {
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.chat-wrapper,
.chat-header,
.chat-input-box,
.sidebar,
.link,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.link {
    text-decoration: none;
    color: #eeeeee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link:hover {
    color: #bebebe;
}

.w-100 {
    width: 100%;
}

.btn {
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    font-size: medium;
    cursor: pointer;
    user-select: none;
}

.form-input {
    color: #ffffff;
    height: 1.5rem;
    border: none;
    border-bottom: solid 3px #9f9f9f;
    background-color: transparent;
    font-size: medium;
}

.form-input:focus {
    outline: none;
    border-bottom: solid 3px #ffffff;
}

/* ==========================================
* MENU LINK CLASSES
* ========================================== */

.menu-link {
    position: relative;
    display: block;
    background: #5d6977;
    font-size: 10px;
    z-index: 10;
    margin: 0 0.3em;
    width: 2em;
    height: auto;
    padding: 2em 1.2em;
}

.menu-link:hover {
    background: #434c56;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    pointer-events: none;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/* ==========================================
* SIDEBAR CLASSES
* ========================================== */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
    overflow-y: auto;
    background-color: #313539
}

.sidebar:hover.scroll-bar-custom::-webkit-scrollbar-thumb {
    background-color: #586f7b;
}

.sidebar.active {
    width: 18rem;
}

.user-box {
    display: flex;
    flex-grow: 1;
    height: 4rem;
    padding: 0.5rem;
}

.user-image-box {
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.user-image {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 3.3rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border-radius: 50%;
    color: #ffffff;
}

.user-box-info {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: xx-large;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: lighter;
    color: #ffffff;
}

.user-menu-button {
    cursor: pointer;
    font-size: xx-large;
    text-align: center;
    align-self: center;
    color: #ffffff;
}

.user-menu-button:before {
    content: "\022EE";
}

.search-bar {
    display: flex;
    flex-grow: 1;
    height: 2.6rem;
    align-items: center;
    padding: 0 0.5rem;
}

.search-input {
    outline: none;
    border: none;
    background-color: #505762;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
    color: #ffffff;
}

.contact-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.contact {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #f7f7f7;
    padding: 0.8rem 0 0.8rem 1rem;
}

.contact-link {
    text-decoration: none;
    color: #eeeeee;
}

.contact-link:hover {
    color: #bebebe;
}

.contact-menu-btn {
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}

.contact-menu-btn:before {
    content: "\022EE";
}

.user-menu-dropdown,
.contact-menu-dropdown {
    font-size: initial;
    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 0.5rem;
    background-color: #101e21;
    overflow: auto;
    right: 0;
    z-index: 20;
}

.contact-menu-entry {
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contact-menu-entry:hover {
    background-color: #37434b;
}

.contact-active {
    background-color: #475261;
}

.show {
    display: flex;
}

/* ==========================================
* CHAT BOX CLASSES
* ========================================== */

.chat-wrapper {
    min-height: 100vh;
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
    background-color: #222528;
}

.chat-header {
    color: #ffffff;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 18rem;
    height: 2.6rem;
    align-items: center;
    display: flex;
    background-color: #313539;
}

.chat-messages {
    display: flex;
    padding: 1.2rem 2.6rem;
    margin-bottom: 2.6rem;
    margin-top: 2.6rem;
    flex-direction: column;
    flex-grow: 1;
    background-color: #222528;
}

.chat-input-box {
    display: flex;
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 18rem;
    padding: 0.8rem 1rem;
    background-color: #313539;
    height: 2rem
}

.chat-wrapper.active {
    margin-left: 0;
}

.chat-input-box.active,
.chat-header.active {
    left: 0;
}

.chat-message {
    max-width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    word-wrap: break-word;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    margin: 0.25em 0;
    background-color: #dedede;
    color: #0c0d19;
}

.chat-message:after {
    content: '';
    position: absolute;
    left: 0;
    top: 70%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: #dedede;
    border-left: 0;
    border-top: 0;
    margin-top: -8px;
    margin-left: -12px;
}

.chat-message.me {
    align-self: flex-end;
    background-color: #066f5e;
    /*background-color: #007bff;*/
    color: #fefefe;
}

.chat-message.me:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 70%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-left-color: #066f5e;
    border-right: 0;
    border-top: 0;
    margin-top: -8px;
    margin-left: -4px;
}

.chat-message-time {
    font-size: xx-small;
    margin-left: auto;
}

.chat-message-username {
    font-size: xx-small;
}

.chat-input {
    background-color: inherit;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    flex-grow: 1;
    color: #ffffff;
}

.chat-send-btn {
    border: none;
    background-color: inherit;
}

.chat-send-btn:focus {
    outline: none;
}

.chat-send-btn > svg > path {
    transition: all 0.3s;
}

@media (min-width: 48em) {
    .chat-message.me {
        align-self: flex-start;
    }

    .chat-message.me:after {
        content: '';
        position: absolute;
        left: 0;
        top: 70%;
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-right-color: #066f5e;
        border-left: 0;
        border-top: 0;
        margin-top: -8px;
        margin-left: -12px;
    }
}

/* ==========================================
* MODAL POPUP CLASSES
* ========================================== */

.modal-overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.modal {
    background-color: #313539;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    max-height: 80%;
    color: #ffffff;
}

.modal-small {
    flex: 0 0 35%;
}

.modal-medium {
    flex: 0 0 55%;
}

.modal-large {
    flex: 0 0 75%;
}

.modal-header {
    display: flex;
    padding: 0.8rem 1rem;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #a5acc1;
}

.modal-content {
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-footer {
    padding: 0.5rem 1rem;
    border-top: solid 1px #a5acc1;
    font-size: large;
    display: flex;
    flex-direction: row;
}

.scroll-bar-custom::-webkit-scrollbar {
    width: 8px;
}

.scroll-bar-custom::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.scroll-bar-custom::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 100px;
}

.modal-content:hover.scroll-bar-custom::-webkit-scrollbar-thumb {
    background-color: #586f7b;
}

@media (max-width: 48em) {
    .modal-small {
        flex: 0 0 50%;
    }
}

@media (max-width: 32em) {
    .modal-small {
        flex: 0 0 70%;
    }
}

@media (min-width: 48em) {
    .modal-small {
        flex: 0 0 35%;
    }
}

/* ==========================================
* BUTTON COLOR CLASSES
* ========================================== */

.btn-primary {
    background-color: #00d1b2;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #00b79a;
}

.btn-primary:active {
    background-color: #009a82;
}

.btn-link {
    background-color: #485fc7;
    color: #ffffff;
}

.btn-link:hover {
    background-color: #3d50a5;
}

.btn-link:active {
    background-color: #314081;
}

.btn-info {
    background-color: #3e8ed0;
    color: #ffffff;
}

.btn-info:hover {
    background-color: #3273a8;
}

.btn-info:active {
    background-color: #2b628f;
}

.btn-success {
    background-color: #48c78e;
    color: #ffffff;
}

.btn-success:hover {
    background-color: #3eaa7a;
}

.btn-success:active {
    background-color: #359068;
}

.btn-warning {
    background-color: #ffe08a;
    color: #000000;
}

.btn-warning:hover {
    background-color: #d8bd70;
}

.btn-warning:active {
    background-color: #baa25f;
}

.btn-danger {
    background-color: #f03a5f;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #d13353;
}

.btn-danger:active {
    background-color: #b32b48;
}

.btn-dark {
    background-color: #363636;
    color: #ffffff;
}

.btn-dark:hover {
    background-color: #3e3e3e;
}

.btn-dark:active {
    background-color: #4b4b4b;
}

.btn-light {
    background-color: #f5f5f5;
    color: #000000;
}

.btn-light:hover {
    background-color: #d8d8d8;
}

.btn-light:active {
    background-color: #c1c1c1;
}

.btn-transparent {
    background-color: transparent;
}

/* ==========================================
* CHECKBOX CLASSES
* ========================================== */

.checkbox-container {
    display: flex;
    position: relative;
    margin: 1.4rem 0;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    padding: 0.8rem;
    border-radius: 0.3rem;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}

.checkbox-label {
    font-size: large;
    margin-left: 3rem;
    user-select: none;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #00b79a;
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: x-large;
    position: absolute;
    top: 0;
    left: 0.05rem;
    color: #ffffff;
}

/* ==========================================
* COLUMN CLASSES
* ========================================== */

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* ==========================================
* PADDING MARGIN CLASSES
* ========================================== */

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ml-3 {
    margin-left: 1rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mt-3 {
    margin-top: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pt-3 {
    padding-top: 0.5rem;
}