{% extends "layout.html" %}

{% block content %}
    <input type="hidden" value="{{ user.id }}" id="user-id">
    <input type="hidden" value="{{ user.username }}" id="user-nane">
    <input type="hidden" value="{{ request.base_url.hostname }}" id="hostname">
    <div id="sidebar" class="sidebar active">
        <div class="search-bar">
            <input id="search-input" class="search-input" placeholder="Search...">
        </div>
        <div id="contact-box" class="contact-box">
            {% for c in contacts %}
                <div class="contact">
                    <a href="#{{ c.username }}" id="{{ c.id }}" class="contact-link col-9">{{ c.username }}</a>
                    <div class="col-1">
                        <svg id="status-{{ c.id }}" viewBox="0 0 100 100" style="width: 0.4rem; height: 0.4rem"
                             xmlns="http://www.w3.org/2000/svg" fill="#dddddd">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                    </div>
                    <div class="contact-menu-btn col-2">
                        <div id="{{ c.id }}-menu" class="contact-menu-dropdown">
                            <a href="#remove" class="contact-menu-entry remove">Remove</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="search-box" class="contact-box" style="display: none;"></div>
    </div>
    <div id="wrapper" class="chat-wrapper">
        <div id="header" class="chat-header">
            <div class="mx-3">
                <a href="#sidebar" id="menu-link" class="menu-link">
                    <span></span>
                </a>
            </div>
            <div id="header-text">...</div>
            {% if user and user.is_authenticated %}
                <div style="margin-left: auto;">
                    <a href="/auth/logout" class="link mx-3">Logout</a>
                </div>
            {% else %}
                <div style="margin-left: auto;">
                    <a href="/auth/login" class="link mx-3">Login</a>
                    <a href="/auth/signup" class="link mx-3">Signup</a>
                </div>
            {% endif %}
        </div>
        <div id="chat-box">
            {% for c in contacts %}
                <div style="display: none" id="chat-{{ c.id }}" class="chat-messages"></div>
            {% endfor %}
        </div>
        <div id="input-box" class="chat-input-box" style="display: none;">
            <textarea id="chat-input" rows="1" class="chat-input" placeholder="Write message..."></textarea>
            <button id="chat-send-btn" class="chat-send-btn">
                <svg style="width: 30px; height: 30px" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path id="chat-send-icon" d="M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31
                        8-11 0-24-5l-453-185-242 295q-18 23-49 23-13 0-22-4-19-7-30.5-23.5t-11.5-36.5v-349l864-1059-1069
                        925-395-162q-37-14-40-55-2-40 32-59l1664-960q15-9
                        32-9 20 0 36 11z" fill="#B3B7BB"></path>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        setup();
    </script>
{% endblock %}