{% extends "layout.html" %}

{% block content %}
    <input type="hidden" value="{{ user.id }}" id="user-id">
    <input type="hidden" value="{{ user.username }}" id="user-nane">
    <input type="hidden" value="{{ request.base_url.hostname }}" id="hostname">
    <input type="hidden" value="{{ chat_type.PRIVATE.value }}" id="chat-type-private">
    <input type="hidden" value="{{ chat_type.GROUP.value }}" id="chat-type-group">
    <input type="hidden" value="{{ chat_action.CONNECT.value }}" id="chat-action-connect">
    <input type="hidden" value="{{ chat_action.DISCONNECT.value }}" id="chat-action-disconnect">
    <input type="hidden" value="{{ chat_action.CREATE.value }}" id="chat-action-create">
    <input type="hidden" value="{{ chat_action.REMOVE.value }}" id="chat-action-remove">
    <input type="hidden" value="{{ chat_action.LEAVE.value }}" id="chat-action-leave">
    <div id="sidebar" class="sidebar active scroll-bar-custom">
        <div class="user-box">
            <div class="col-3">
                <div class="user-image-box">
                    <div class="user-image" style="background-color: {{ user.color }};">{{ user.username[0] }}</div>
                </div>
            </div>
            <div class="col-8">
                <div class="user-box-info">{{ user.username }}</div>
            </div>
            <div id="user-menu-btn" class="col-1 user-menu-button">
                <div class="user-menu-dropdown">
                    <span id="group-create-modal-btn" class="contact-menu-entry">Create group</span>
                    <a href="/auth/logout" class="contact-menu-entry">Logout</a>
                </div>
            </div>
        </div>
        <div class="search-bar">
            <input id="search-input" class="search-input" placeholder="Search...">
        </div>
        <div id="chats-box" class="contact-box">
            {% for c in chats %}
                <div class="contact">
                    <a href="#{{ c.name }}" id="{{ c.id }}" data-type="{{ c.type }}"
                       data-user-id="{% if c.type == chat_type.PRIVATE.value %}{{ c.participants[0].id }}{% else %}{{ c.creator }}{% endif %}"
                       class="contact-link col-{% if c.type == chat_type.PRIVATE.value %}9{% else %}10{% endif %}">{{ c.name }}</a>
                    {% if c.type == chat_type.PRIVATE.value %}
                        <div class="col-1">
                            <svg id="status-{{ c.participants[0].id }}" viewBox="0 0 100 100"
                                 style="width: 0.4rem; height: 0.4rem"
                                 xmlns="http://www.w3.org/2000/svg" fill="#dddddd">
                                <circle cx="50" cy="50" r="50"></circle>
                            </svg>
                        </div>
                    {% endif %}
                    <div class="contact-menu-btn col-2">
                        <div id="menu-{{ c.id }}" class="contact-menu-dropdown">
                            {% if c.type == chat_type.GROUP.value %}
                                <span class="contact-menu-entry info-btn">Info</span>
                                <span class="contact-menu-entry remove-btn">{% if c.creator == user.id %}Remove{% else %}Leave Group{% endif %}</span>
                            {% else %}
                                <span class="contact-menu-entry remove-btn">Remove</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="search-box" class="contact-box" style="display: none;"></div>
    </div>
    <div id="wrapper" class="chat-wrapper">
        <div id="header" class="chat-header">
            <div class="mx-3">
                <a href="#sidebar" id="menu-link" class="menu-link">
                    <span></span>
                </a>
            </div>
            <div id="header-text">...</div>
            {% if user and user.is_authenticated %}
                <div style="margin-left: auto;">
                    <a href="/auth/logout" class="link mx-3">Logout</a>
                </div>
            {% else %}
                <div style="margin-left: auto;">
                    <a href="/auth/login" class="link mx-3">Login</a>
                    <a href="/auth/signup" class="link mx-3">Signup</a>
                </div>
            {% endif %}
        </div>
        <div id="chat-box">
            {% for c in chats %}
                <div style="display: none" id="chat-{{ c.id }}" class="chat-messages"></div>
            {% endfor %}
        </div>
        <div id="input-box" class="chat-input-box" style="display: none;">
            <textarea id="chat-input" rows="1" class="chat-input" placeholder="Write message..."></textarea>
            <button id="chat-send-btn" class="chat-send-btn">
                <svg style="width: 30px; height: 30px" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path id="chat-send-icon" d="M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31
                        8-11 0-24-5l-453-185-242 295q-18 23-49 23-13 0-22-4-19-7-30.5-23.5t-11.5-36.5v-349l864-1059-1069
                        925-395-162q-37-14-40-55-2-40 32-59l1664-960q15-9
                        32-9 20 0 36 11z" fill="#B3B7BB"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- MODAL START -->
    <div id="group-create-modal" class="modal-overlay">
        <div class="modal modal-small">
            <div class="modal-header">
                <div class="col-10">
                    Create New Group
                </div>
                <div class="col-2" style="text-align: end">
                    <button class="btn btn-transparent modal-close" style="font-size: x-large; color: #ffffff;">
                        <strong>&times;</strong>
                    </button>
                </div>
            </div>
            <div id="group-create-content" class="modal-content scroll-bar-custom">
                <input type="text" class="form-input w-100 mb-3" style="font-size: large" id="group-name-input" placeholder="Group Name"/>
                {% for chat in chats %}
                    {% if chat.type == chat_type.PRIVATE.value %}
                        <div class="checkbox-container" id="contact-{{ chat.participants[0].id }}">
                            <input id="check-{{ chat.participants[0].id }}" type="checkbox" class="custom-checkbox group-checkbox">
                            <label for="check-{{ chat.participants[0].id }}" class="checkbox-label"
                                   style="flex-grow: 1">{{ chat.participants[0].username }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer" style="justify-content: flex-end">
                <button id="group-create-btn" class="btn btn-primary mr-3">Create</button>
                <button class="btn btn-info modal-close">close</button>
            </div>
        </div>
    </div>
    <!-- MODAL END -->
{% endblock %}

{% block scripts %}
    <script>
        setup();
    </script>
{% endblock %}

{# <div id="contact-box" class="contact-box" style="display: none;">#}
{#     {% for c in contacts %}#}
{#         <div class="contact">#}
{#             <a href="#{{ c.username }}" id="contact-{{ c.id }}" class="contact-link col-9">{{ c.username }}</a>#}
{#             <div class="col-1">#}
{#                 <svg id="status-{{ c.id }}" viewBox="0 0 100 100" style="width: 0.4rem; height: 0.4rem"#}
{#                      xmlns="http://www.w3.org/2000/svg" fill="#dddddd">#}
{#                     <circle cx="50" cy="50" r="50"></circle>#}
{#                 </svg>#}
{#             </div>#}
{#             <div class="contact-menu-btn col-2">#}
{#                 <div id="{{ c.id }}-menu" class="contact-menu-dropdown">#}
{#                     <a href="#remove" class="contact-menu-entry remove">Remove</a>#}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
{#     {% endfor %}#}
{# </div>#}