<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', path='img/chat.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.min.css') }}">
    {% block styles %}{% endblock %}
    <title>Live Chat</title>
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ url_for('static', path='js/reconnecting-websocket.min.js') }}"></script>
<script src="{{ url_for('static', path='js/script.min.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>